#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: violet;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: purple;
}

.offcanvas-body {
  height: 100vh; 
  overflow-y: auto;
}

.audio{
  z-index: 1;
}


/* .card-img-top {
    width: 100%;
    height: 10vh; 
    object-fit: contain;
    background-color: bisque;
    background-size: 100%;
} */

