.image{
    width: 100px;
    height: 100px;
    /* border: 2px solid blue; */
    margin: 2em auto;
}

.birthdayimg{
    background-color: aqua;
    width: 100px;
    height: 100px;

}

p{
    column-count: 3;
    column-rule: 4px solid blue;
    column-gap: 3rem;
}

.sticky {
    background-color: brown;
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0px;
}

.box {
    background-color: black;
    color: azure;
    padding: 1rem;
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-auto-rows: 1fr 2fr 2fr ;
    /* grid-template-rows:2fr 2fr 1fr ;
    grid-auto-columns:200px ; */
} 

.bounce {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 100px auto;
    animation-name: bounce;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes bounce {
    0%,40%,70%,100% {
        background-color: black;
        transform: translateY(0);
    }

    20% {
        background-color: red;
        transform: translateY(-20px);
    }
    60% {
        background-color: green;
        transform: translateY(-60px);
    }
    85% {
        background-color: blue;
        transform: translateY(-85px);
    }
}