body {
    margin: 0;  
    background-color:#D6F4ED ;                            
    /* #473472
    #53629E
    #87BAC3
    #D6F4ED */
}

header a{
    text-decoration: none;
    padding: 5px;
    background-color: #D6F4ED;
}

header{
    display: flex;
    padding: 10px;
    /* background-color: #53629E;  */
}

#logo{
    flex: 2;
}
.NavBar Nav{
    display: flex;
    flex: 2;
}
.NavBar a{
    flex: 1;
    color: #473472;
    font-weight: bolder;
}

img{
    height: 100%;
    width: 100%;
    opacity: .3;
    position: relative;
}

.about{
    position: absolute;
}

.icon{
    color: #473472;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

h3{
    color: #473472;
    background-color: #D6F4ED;
    text-align: center;
    padding: 2px;
    margin: 0;
    border: 2px solid #473472;
    border-radius: 50px;
}

.birthday{
    background-color: #87BAC3;
}